nav{
            margin-bottom : 10px;
            margin-top: 10px;

          }
          .breadcrumb{
            padding-left: 10px;
            background-color: 
          }
          .card-img-top{
            width :287px;
            height: 200px;
            object-fit: cover;
            border-radius: 25px;

          }
          .card{
            border-radius: 25px;
          }
          footer{
            background-color:black;
          padding-bottom: 10px;
            padding-top: 8px;
          }
          .foot{
            font-weight: bold;
            color:goldenrod;
            padding-left: 20px;

          }
          .footer{
            color: white;
            padding-left: 20px;
          }
          .contact{
            color: white;
            padding-left: 20px;
          }
          form{
            display: inline-block;
            text-align: left;
          }
          fieldset{
            border: 1px solid #333;
            border-radius: 5px;
            padding: 20px;
            margin: 20px 0;
          }
          legend{
            font-weight: bold;
            padding: 0 10px;
          }